*{
  font-family: sans-serif;
}

:root {
  --lightgrey: #ededf0;
  --indigo: #9381FF;
  --lightpurple: #B8B8FF
}
.App {
  height: 100vh;
  width: 100vw;
}
button {
  border: 0;
 }
.navbar {
  background-color: var(--indigo);
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #71777d;;
}
.navbar-calendar-div {
  display: flex;
  width: 30vw;
  align-items: center;
}
.navbar-calendar-div p{
  font-size: 35px;
  font-weight: 600;
  color: white;
}
.navbar-controls-div {
  width: 70vw;
  display: flex;
  align-items: center;
}
.togglesidebar-btn {
  background: none;
  border: 0;
  background-image: url('./assets/menu-svgrepo-com.svg');
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 10px;
}
.searchbox {
  width: 500px;
  background-color: var(--lightpurple);
  padding: 10px;
  border: 1px solid #71777d;
  border-radius: 20px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.05),0 2px 4px 1px rgba(0,0,0,.09);
}
.searchbox:hover {
  box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 2px 4px 1px rgba(0,0,0,.18);
  border: 1.5px solid #71777d;
}
  .navbar-controls-div a {
  padding: 10px;
  margin: 3px;
  font-size: 17px;
  font-weight: 550;
  cursor: pointer;
}

.navbar-controls-div a:not(:last-child) {
  border-right: 2px solid;
}
.sidebar {
  height: 100%;
  width: 0;
  left: 0;
  background: linear-gradient(to top, var(--lightgrey) 0%, var(--indigo) 100%);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  transition: 0.5s;
  box-shadow: 10px 0 15px -6px rgba(0, 0, 0, 0.5);
}
.hidden {
 width: 350px;
}
.profile-div {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profile-div img{
  border: 1px solid;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}
.profile-div p {
  font-size: 18px;
  font-weight: 550;
}
.sidebar-btn-div {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 8px;
  width: 90%;

  color: white;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.sidebar-btn-div:hover {
  box-shadow: 0px -2px #816fe8;
  background-color: #9785FF;
}

.container{
  display: flex;
  width: 100%;
  height: 100%;
}
.maincontainer {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.calendarcontainer {
  display: flex;
  width: 70%;
  height: 90%;
  background-color: grey;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 8px;
  gap: 5px;
}
.calendar-box {
  width: 100px;
  background-color: red;
}
